{% extends 'base.html' %}
{% block title %}Iniciar Sesión{% endblock %}
{% block content %}
    <div class="container">
        <h2>Iniciar Sesión</h2>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="error">{{ messages[0] }}</div>
            {% endif %}
        {% endwith %}
        <form method="POST">
            {{ form.csrf_token }}
            <div class="form-group">
                {{ form.username.label }}
                {{ form.username(class="rounded-pill") }}
            </div>
            <div class="form-group">
                {{ form.password.label }}
                <div class="password-container">
                    {{ form.password(class="rounded-pill") }}
                    <span class="password-toggle" onclick="togglePassword('password', this)">
                        <i class="fa fa-eye"></i>
                    </span>
                </div>
            </div>
            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="remember_me" name="remember_me" {{ 'checked' if form.remember_me.data else '' }}>
                <label class="form-check-label" for="remember_me">Recordar contraseña</label>
            </div>
            <div class="form-group">
                {{ form.submit }}
            </div>
            <p>¿No tienes una cuenta? <a href="{{ url_for('registro') }}">Regístrate aquí</a></p>
        </form>
    </div>
    <script>
        function togglePassword(inputId, toggleElement) {
            var passwordInput = document.querySelector('input[name="' + inputId + '"]');
            var type = passwordInput.getAttribute('type') === 'password' ? 'text' : 'password';
            passwordInput.setAttribute('type', type);
            var eyeIcon = toggleElement.querySelector('i');
            eyeIcon.classList.remove('fa-eye', 'fa-eye-slash');
            if (type === 'password') {
                eyeIcon.classList.add('fa-eye');
            } else {
                eyeIcon.classList.add('fa-eye-slash');
            }
        }
    </script>
{% endblock %}