<nav class="magic-navbar">
    <div class="magic-nav-buttons">
        <div class="magic-nav-button">
            <a href="{{ url_for('index') }}">
                <i class="fas fa-home"></i>
            </a>
        </div>
        <div class="magic-nav-button">
            <a href="#">
                <i class="fa-solid fa-address-book"></i>
            </a>
        </div>
        <div class="magic-nav-button">
            <a href="#">
                <i class="fa-solid fa-calendar-days"></i>
            </a>
        </div>
        <div class="magic-nav-button">
            <a href="#">
                <i class="fa-solid fa-file"></i>
            </a>
        </div>
        <div class="magic-nav-button">
            <a href="#">
                <i class="fa-solid fa-image"></i>
            </a>
        </div>
        <div class="magic-nav-button">
            {% if current_user.is_authenticated %}
                <a href="#" style="pointer-events: none; opacity: 0.2;">
                    <i class="fas fa-user"></i>
                </a>
            {% else %}
                <a href="{{ url_for('login') }}">
                    <i class="fas fa-user"></i>
                </a>
            {% endif %}
        </div>
    </div>
</nav>