<nav class="magic-navbar">
    <div class="magic-nav-buttons">
        <div class="magic-nav-button">
            <a href="{{ url_for('index') }}">
                <i class="fas fa-home"></i>
            </a>
        </div>
        <div class="magic-nav-button">
            <a href="{{ url_for('listar_contacto') }}">
                <i class="fa-solid fa-address-book"></i>
            </a>
        </div>
        <div class="magic-nav-button">
            <a href="{{ url_for('calendario') }}">
                <i class="fa-solid fa-calendar-days"></i>
            </a>
        </div>
        <div class="magic-nav-button">
            <a href="{{ url_for('ver_facturas') }}">
                <i class="fa-solid fa-file"></i>
            </a>
        </div>
        <div class="magic-nav-button">
            <a href="{{ url_for('ver_eventos') }}"> {# Nuevo enlace para Eventos #}
                <i class="fa-solid fa-person-hiking"></i> {# Icono de senderismo para eventos, puedes cambiarlo #}
            </a>
        </div>
        <div class="magic-nav-button">
            <a href="{{ url_for('pagos.ver_pagos') }}"> {# Nuevo enlace para Pagos #}
                <i class="fa-solid fa-money-bill"></i> {# Icono de dinero para pagos, puedes cambiarlo #}
            </a>
        </div>
        <div class="magic-nav-button">
            {% if current_user.is_authenticated %}
                <a href="#" style="pointer-events: none; opacity: 0.2;">
                    <i class="fas fa-user"></i>
                </a>
            {% else %}
                <a href="{{ url_for('login') }}">
                    <i class="fas fa-user"></i>
                </a>
            {% endif %}
        </div>
    </div>
</nav>
